{% extends 'base.html.twig' %}

{% block title %}Environment {% endblock %}

{% block body %}
    
    <div class="container">
                <div class="details">
            <dl class="details-list">
                <dt>Environmental Sicences:</dt>
                <dd>Environmental science is an interdisciplinary academic field that integrates physical, biological and information sciences. </dd>
                
                <dt>Consaltancy in Environmental Sicences:</dt>
                <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis egestas nibh, nec volutpat ipsum efficitur vitae.Vivamus venenatis egestas nibh, nec volutpat ipsum efficitur vitae.Vivamus venenatis egestas nibh, nec volutpat ipsum efficitur vitae.Vivamus venenatis egestas nibh, nec volutpat ipsum efficitur vitae.Vivamus venenatis egestas nibh, nec volutpat ipsum efficitur vitae.</dd>
                <dt>Our mission:</dt>
                <dd>Sed vestibulum condimentum odio, sit amet aliquet risus ullamcorper in. Mauris eget elementum augue, vitae lobortis sem.Mauris eget elementum augue, vitae lobortis sem.Mauris eget elementum augue, vitae lobortis sem.Mauris eget elementum augue, vitae lobortis sem.Mauris eget elementum augue, vitae lobortis sem.Mauris eget elementum augue, vitae lobortis sem.Mauris eget elementum augue, vitae lobortis sem.</dd>
            </dl>
        </div>
    </div>
    
    
{% endblock %}
